@page
@model POE.Pages.Monetarys.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<head>
    <style>
        body {
            background-color: orange;
            aa
        }

        h1 {
            color: blue;
        }

        p {
            color: red;
        }

    </style>
</head>

<head>
    <style>
        body {
            background-color: orange;
            aa
        }

        h1 {
            color: blue;
        }

        p {
            color: red;
        }

    </style>
</head>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Monetary</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monetary.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monetary.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monetary.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monetary.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monetary.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monetary.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monetary.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monetary.Amount)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Monetary.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
