@page
@model POE.Pages.Monetarys.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<head>
    <style>
        body {
            background-color: orange;
            aa
        }

        h1 {
            color: blue;
        }

        p {
            color: red;
        }

    </style>
</head>

<h1>Details</h1>

<div>
    <h4>Monetary</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monetary.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monetary.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monetary.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monetary.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monetary.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monetary.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monetary.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monetary.Amount)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Monetary?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
